//header background
$header-background: bisque;
//header tile
$header-title: rgb(2, 44, 133);
//padding for header and main
$headerMain-padding: 1rem;
//main background color
$main-background: rgb(247, 192, 90);
